body {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}