@media (min-width: 800px) {
    /* //////////////////////////////////////////////////////////////
    GENERAL
    ////////////////////////////////////////////////////////////// */

    header {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }

    #menu {
        display: none;
    }

    .navigation {
        grid-template-rows: 1fr;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 3;
    }

    .navigation li a {
        padding-top: 2rem;
        box-sizing: border-box;
        width: 15vw;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    }

    #foot1 {
        grid-column: 2 / 3;
        border: none;
    }

    #foot2 {
        grid-column: 4 / 5;
        margin-top: 2rem;
    }

    /* //////////////////////////////////////////////////////////////
    Directory
    ////////////////////////////////////////////////////////////// */

    

    .layout-options {
        margin-bottom: -3rem;
        grid-column: 2 / 3;
    }

    .cards {
        grid-column: 2 / 3;
        margin: 3rem 0;
    }
    
    .list .member-card {
        display: grid;
        grid-template-columns: 14% 25% 1fr 1fr 250px;
        column-gap: 1rem;
        align-items: center;
        padding: 1rem;
    }

    .list .member-card h2~p,
    .list .member-card a {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    /* //////////////////////////////////////////////////////////////
    Home
    ////////////////////////////////////////////////////////////// */

    .hero {
        display: flex;
        grid-column: 1 / 4;
        margin: 0 3.4rem;
        
    }
    /* dude i dont want to deal with webps and paint and programs and whatever
        anymore you're GETTING A SKINNY HERO IMAGE */
    .hero img {
        width: 70%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .callToAction {
        flex-wrap: wrap;
        width: 30%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0;
        flex-direction: column;
    }

    .callToAction a {
        margin: 0;
        padding: 1.75rem 3rem;
        font-size: xx-large;
        width: 40%;
    }

    .content {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-column: 2 / 3;
    }

    .currentEvents {
        display: flex;
        flex-direction: column;
    }

    .weather,
    #forecast {
        display: flex;
        flex-direction: column;
    }

    .weather div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #temperature:first-child {
        margin-bottom: 1rem;
    }

    #forecast p {
        margin-top: -0.5rem;
    }

    .spotlight {
        display: flex;
        flex-wrap: wrap;
        grid-column: 1 / 4;
        justify-content: space-around;
    }

    .spotCard {
        display: block;
        width: 50%;
        margin: 2rem 0;
    }

    .spotCard img {
        width: 100%;
    }

    /* //////////////////////////////////////////////////////////////
    Join
    ////////////////////////////////////////////////////////////// */

    .join {
        display: grid;
        grid-template-columns: 1fr 5fr 4fr 1fr;
    }

    .formbox {
        grid-column: 2 / 3;
    }

    .perks-box {
        margin-top: 1rem;
    }

    .perks-box > div {
        padding: 1.5rem 3rem;
    }
    .perks-box >div > * {
        margin: 0.5rem;
    }

    #perk-desc > div {
        margin: 5%;
    }
}